@charset "utf-8";
/* 欢迎页面样式*/
body{
	background:#f0f2f5;padding-top: 13px;margin-left: 20px;
}
body,button,input,select,textarea { font:13px/1.5 verdana,arial,tahoma,'微软雅黑',\5b8b\4f53; color:#333;}
a { color:#333;}
a:hover { color:#3a7ec1;}

.title{
	font-size: 20px;
	margin-left: 14px;
}

.content{
	padding: 14px 14px 14px 35px;
    line-height: 28px;
    font-size: 13px;
}

.wel_img{
	margin-top: 10px;
}