<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BookTypeLabelMapper" >
  <resultMap id="BaseResultMap" type="com.winnerbook.book.dto.BookTypeLabel" >
    <id column="label_id" property="labelId" jdbcType="INTEGER" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
    <result column="label_des" property="labelDes" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    label_id, label_name, label_des, status, create_date, create_user_id, create_user_name, 
    update_date
  </sql>
  
  <select id="listByPage" parameterType="hashmap" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from bus_book_type_label where 1=1 
  	<if test="sessionUser!=null and sessionUser.isAdmin != '1'.toString()">
  		and FIND_IN_SET(create_user_id,getChildrenUser(${sessionUser.userId}))
  	</if>
	<if test="labelName != null and labelName  != '' "> and label_name like '%${labelName}%' </if>
	order by label_id desc 
	<if test="limit != null and limit  != '' ">
		limit ${start},${limit}
	</if>
  </select>
  
   <select id="selectCount" parameterType="hashmap" resultType="java.lang.Integer">
  	select count(*) from bus_book_type_label where 1=1 
  	<if test="sessionUser!=null and sessionUser.isAdmin != '1'.toString()">
  		and FIND_IN_SET(create_user_id,getChildrenUser(${sessionUser.userId}))
  	</if>
	<if test="labelName != null and labelName  != '' "> and label_name like '%${labelName}%' </if>
  </select>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bus_book_type_label
    where label_id = #{labelId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.winnerbook.book.dto.BookTypeLabel" >
    insert into bus_book_type_label (label_name, label_des, 
      status, create_date, create_user_id, 
      create_user_name)
    values (#{labelName,jdbcType=VARCHAR}, #{labelDes,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{createUserName,jdbcType=VARCHAR})
  </insert>
  
  <update id="update" parameterType="com.winnerbook.book.dto.BookTypeLabel" >
    update bus_book_type_label
    set label_name = #{labelName,jdbcType=VARCHAR},
      label_des = #{labelDes,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where label_id = #{labelId,jdbcType=INTEGER}
  </update>
  
  <!-- 查询标签 -->
 <select id="getBookTypeLabelAll" parameterType="hashmap" resultMap="BaseResultMap" >
    select label_id,label_name from bus_book_type_label where status=1 order by label_id desc
  </select>
  
</mapper>