<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="QrcodeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.winnerbook.share.dto.QrcodeRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="qrcode_id" property="qrcodeId" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="browser_type" property="browserType" jdbcType="VARCHAR" />
    <result column="mobile_device" property="mobileDevice" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="listByPage" parameterType="hashmap" resultMap="BaseResultMap">
  	select id, qrcode_id, ip, browser_type,mobile_device, create_date
  	from bus_qrcode_record where 1=1 
	<if test="qrcodeId != null and qrcodeId  != '' "> and qrcode_id = #{qrcodeId}  </if>
	<if test="mobileDevice != null and mobileDevice  != '' "> and mobile_device like '%${mobileDevice}%' </if>
	order by create_date desc 
	<if test="limit != null and limit  != '' ">
		limit ${start},${limit}
	</if>
  </select>
  
  <select id="selectCount" parameterType="hashmap" resultType="java.lang.Integer">
  	select count(*) from bus_qrcode_record where 1=1 
  	<if test="qrcodeId != null and qrcodeId  != '' "> and qrcode_id = #{qrcodeId}  </if>
  	<if test="mobileDevice != null and mobileDevice  != '' "> and mobile_device like '%${mobileDevice}%' </if>
  </select>


  <!-- 后台查询 -->
  <select id="findByQrcodeId" resultMap="BaseResultMap" parameterType="hashmap" >
    select id, qrcode_id, ip, browser_type,mobile_device, create_date
    from bus_qrcode_record
    where qrcode_id = #{qrcodeId}
  </select>
  
  <!-- api接收扫描结果并记录 -->
  <insert id="insert" parameterType="com.winnerbook.share.dto.QrcodeRecord" >
    insert into bus_qrcode_record (qrcode_id, ip, 
      browser_type, mobile_device,create_date)
    values (#{qrcodeId,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{browserType,jdbcType=VARCHAR},#{mobileDevice,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  
</mapper>