<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BusInfoMapper" >
  <resultMap id="BaseResultMap" type="com.winnerbook.busInfo.dto.BusInfo" >
    <id column="bu_id" property="buId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="bus_name" property="busName" jdbcType="VARCHAR" />
    <result column="bus_logo" property="busLogo" jdbcType="VARCHAR" />
    <result column="bus_province" property="busProvince" jdbcType="VARCHAR" />
    <result column="bus_city" property="busCity" jdbcType="VARCHAR" />
    <result column="bus_county" property="busCounty" jdbcType="VARCHAR" />
    <result column="bus_address" property="busAddress" jdbcType="VARCHAR" />
    <result column="bus_industry" property="busIndustry" jdbcType="VARCHAR" />
    <result column="bus_des" property="busDes" jdbcType="VARCHAR" />
    <result column="bus_detail" property="busDetail" jdbcType="LONGVARCHAR" />
    <result column="bus_create_date" property="busCreateDate" jdbcType="TIMESTAMP" />
    <result column="bus_update_date" property="busUpdateDate" jdbcType="TIMESTAMP" />
    <result column="manage_qrcode_id" property="manageQrcodeId" jdbcType="INTEGER" /><!--企业二维码id，企业编号  2019-05-24 -->
    <result column="bus_number" property="busNumber" jdbcType="VARCHAR" />
    <result column="brand_qrcode_id" property="brandQrcodeId" jdbcType="INTEGER" />
    <result column="brand_date" property="brandDate" jdbcType="VARCHAR" />
    <result column="brand_img" property="brandImg" jdbcType="VARCHAR" />
    <result column="brand_bus_name" property="brandBusName" jdbcType="VARCHAR" />
    <result column="mobile_bus_name" property="mobileBusName" jdbcType="VARCHAR" />
    <result column="send_wb_count" property="sendWbCount" jdbcType="INTEGER" />
    <result column="emp_use_num" property="empUseNum" jdbcType="INTEGER" />
    <result column="brand_img_region" property="brandImgRegion" jdbcType="VARCHAR" />
    <result column="brand_img_province" property="brandImgProvince" jdbcType="VARCHAR" />
    <result column="brand_img_country" property="brandImgCountry" jdbcType="VARCHAR" />
    <result column="is_generate_app" property="isGenerateApp" jdbcType="VARCHAR" />
    
  </resultMap>
  
   <!-- 用户企业列表 -->
  <resultMap id="BaseResultUserMap" type="com.winnerbook.busInfo.dto.UserBusInfo" >
  	<id column="bu_id" property="buId" jdbcType="INTEGER" />
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_unit_name" property="userUnitName" jdbcType="VARCHAR" />
    <result column="bus_name" property="busName" jdbcType="VARCHAR" />
    <result column="bus_logo" property="busLogo" jdbcType="VARCHAR" />
    <result column="bus_province" property="busProvince" jdbcType="VARCHAR" />
    <result column="bus_city" property="busCity" jdbcType="VARCHAR" />
    <result column="bus_county" property="busCounty" jdbcType="VARCHAR" />
    <result column="bus_address" property="busAddress" jdbcType="VARCHAR" />
    <result column="bus_industry" property="busIndustry" jdbcType="VARCHAR" />
    <result column="bus_des" property="busDes" jdbcType="VARCHAR" />
    <result column="bus_detail" property="busDetail" jdbcType="LONGVARCHAR" />
    <result column="bus_create_date" property="busCreateDate" jdbcType="TIMESTAMP" />
    <result column="bus_update_date" property="busUpdateDate" jdbcType="TIMESTAMP" />
    <result column="manage_qrcode_id" property="manageQrcodeId" jdbcType="INTEGER" /><!--企业二维码id，企业编号  2019-05-24 -->
    <result column="bus_number" property="busNumber" jdbcType="VARCHAR" />
    <result column="brand_qrcode_id" property="brandQrcodeId" jdbcType="INTEGER" />
    <result column="brand_date" property="brandDate" jdbcType="VARCHAR" />
    <result column="brand_img" property="brandImg" jdbcType="VARCHAR" />
    <result column="brand_bus_name" property="brandBusName" jdbcType="VARCHAR" />
    <result column="mobile_bus_name" property="mobileBusName" jdbcType="VARCHAR" />
    <result column="send_wb_count" property="sendWbCount" jdbcType="INTEGER" />
    <result column="emp_use_num" property="empUseNum" jdbcType="INTEGER" />
    <result column="brand_img_region" property="brandImgRegion" jdbcType="VARCHAR" />
    <result column="brand_img_province" property="brandImgProvince" jdbcType="VARCHAR" />
    <result column="brand_img_country" property="brandImgCountry" jdbcType="VARCHAR" />
    <result column="is_generate_app" property="isGenerateApp" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 查询企业信息 -->
   <select id="listByPage" parameterType="hashmap" resultMap="BaseResultUserMap">
  	select ub.bu_id,u.user_id,u.user_name,ub.bus_name,ub.bus_logo,ub.bus_industry,ub.bus_des,ub.send_wb_count,ub.emp_use_num,ub.is_generate_app from uc_user u
	left join uc_user_bus_info ub on u.user_id=ub.user_id where u.is_business_admin=1
	<if test="busName != null and busName  != '' "> and ub.bus_name like '%${busName}%' </if>
	order by user_id desc limit ${start},${limit}
  </select>
  
   <select id="selectCount" parameterType="hashmap" resultType="java.lang.Integer">
  	select count(*) from uc_user u
	left join uc_user_bus_info ub on u.user_id=ub.user_id where u.is_business_admin=1
	<if test="busName != null and busName  != '' "> and ub.bus_name like '%${busName}%' </if>
  </select>
  
  <!-- 根据id查询信息 -->
  <select id="findBusInfoByuserId" parameterType="hashmap" resultMap="BaseResultUserMap">
	select ub.bu_id,u.user_id,u.user_name,u.user_unit_name,ub.bus_name,ub.bus_logo,ub.bus_province,ub.bus_city,ub.bus_county,ub.bus_address,ub.bus_industry,
	ub.bus_des,ub.bus_detail,ub.manage_qrcode_id,ub.bus_number,ub.brand_qrcode_id,ub.brand_date,ub.brand_img,ub.brand_bus_name,ub.mobile_bus_name,ub.send_wb_count,ub.emp_use_num,
	ub.brand_img_region,ub.brand_img_province,ub.brand_img_country,ub.is_generate_app from 
	uc_user u left join uc_user_bus_info ub on u.user_id=ub.user_id where u.user_id=#{userId} 
  </select>

  <insert id="insert" parameterType="com.winnerbook.busInfo.dto.UserBusInfo" >
    insert into uc_user_bus_info (user_id, bus_name, bus_logo, bus_province,bus_city,bus_county,bus_address,bus_industry,
      bus_des, bus_detail, bus_create_date,manage_qrcode_id,bus_number,brand_qrcode_id,send_wb_count,emp_use_num)
    values (#{userId,jdbcType=INTEGER}, #{busName,jdbcType=VARCHAR}, #{busLogo,jdbcType=VARCHAR}, 
      #{busProvince,jdbcType=VARCHAR},#{busCity,jdbcType=VARCHAR},#{busCounty,jdbcType=VARCHAR},
      #{busAddress,jdbcType=VARCHAR},#{busIndustry,jdbcType=VARCHAR},
      #{busDes,jdbcType=VARCHAR},#{busDetail,jdbcType=LONGVARCHAR},NOW(),
      #{manageQrcodeId,jdbcType=INTEGER},#{busNumber,jdbcType=VARCHAR},#{brandQrcodeId,jdbcType=INTEGER},0,0)
  </insert>
  
  <update id="update" parameterType="com.winnerbook.busInfo.dto.UserBusInfo" >
    update uc_user_bus_info
    set bus_name = #{busName,jdbcType=VARCHAR},
      bus_logo = #{busLogo,jdbcType=VARCHAR},
      bus_province = #{busProvince,jdbcType=VARCHAR},
      bus_city = #{busCity,jdbcType=VARCHAR},
      bus_county = #{busCounty,jdbcType=VARCHAR},
      bus_address = #{busAddress,jdbcType=VARCHAR},
      bus_industry = #{busIndustry,jdbcType=VARCHAR},
      bus_des = #{busDes,jdbcType=LONGVARCHAR},
      bus_detail = #{busDetail,jdbcType=VARCHAR},
      manage_qrcode_id = #{manageQrcodeId,jdbcType=VARCHAR},
      bus_number = #{busNumber,jdbcType=VARCHAR},
      brand_qrcode_id = #{brandQrcodeId,jdbcType=VARCHAR},
      brand_date = #{brandDate,jdbcType=VARCHAR},
      brand_img = #{brandImg,jdbcType=VARCHAR},
      brand_bus_name = #{brandBusName,jdbcType=VARCHAR},
      mobile_bus_name = #{mobileBusName,jdbcType=VARCHAR},
      send_wb_count = #{sendWbCount,jdbcType=INTEGER},
      emp_use_num = #{empUseNum,jdbcType=INTEGER},
      brand_img_region = #{brandImgRegion,jdbcType=VARCHAR},
      brand_img_province = #{brandImgProvince,jdbcType=VARCHAR},
      brand_img_country = #{brandImgCountry,jdbcType=VARCHAR},
      is_generate_app = #{isGenerateApp,jdbcType=VARCHAR},
      bus_update_date = NOW()
    where user_id = #{userId}
  </update>
  
  <select id="getNumber" parameterType="hashmap" resultType="java.lang.Integer">
  	select count(*) countNumber from uc_user_bus_info where bus_number=#{busNumber}
  </select>
  
  <!-- 查询是企业管理员的用户-->
  <select id="findBusUserName" resultType="com.winnerbook.system.dto.User">
  	select user_id userId,user_name userName,user_unit_name userUnitName from uc_user where user_statue=1 and is_business_admin=1 and user_id not in 
	(select distinct user_id from uc_user_bus_info)
  </select>
  
  <!-- 用户id查询企业信息是否新增 -->
  <select id="findBusInfoById" resultType="Integer">
  	select count(*) from uc_user_bus_info where user_id=#{userId}
  </select>
  
  <!-- 查询该企业发送了多少条微博 -->
  <select id="getBusSendWbList" parameterType="hashmap" resultType="hashmap">
  	select * from wb_send_info where main_type=#{mainType} and create_user_id=#{busId}
  </select>
  
  <!-- 查询所有企业 -->
   <select id="getBusList" parameterType="hashmap" resultType="hashmap">
  	select ub.bu_id buId,u.user_id busId,u.user_name userName,u.user_unit_name userUnitName,ub.bus_name busName,ub.emp_use_num empUseNum from uc_user u
	left join uc_user_bus_info ub on u.user_id=ub.user_id where u.is_business_admin=1
	order by u.user_id desc
  </select>
  
  <!-- 查询企业下的员工 -->
  <select id="getBusEmpList" parameterType="hashmap" resultType="hashmap">
  	select user_id userId,user_name userName,user_unit_name userUnitName from uc_user where source_type in (1,2) and user_statue=1 and belong_bus_user_id=#{busId}
  </select>
  
  
</mapper>