<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BookListTypeMapper" >
  <resultMap id="BaseResultMap" type="com.winnerbook.book.dto.BookListType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="wb_title" property="wbTitle" jdbcType="VARCHAR" />
    <result column="wb_img" property="wbImg" jdbcType="VARCHAR" />
    <result column="type_label" property="typeLabel" jdbcType="VARCHAR" />
    <result column="type_img" property="typeImg" jdbcType="VARCHAR" />
    <result column="type_des" property="typeDes" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="type_sort" property="typeSort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type_name, wb_title,wb_img,type_label,type_img, type_des, status, create_date, create_user_id, create_user_name, 
    update_date,type_sort,(select count(*) from wb_send_info where main_type='booklisttype' and main_id=lt.id) wbCount
  </sql>
  
  <select id="listByPage" parameterType="hashmap" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from bus_book_list_type lt where 1=1 
  	<if test="sessionUser!=null and sessionUser.isAdmin != '1'.toString()">
  		and FIND_IN_SET(create_user_id,getChildrenUser(${sessionUser.userId}))
  	</if>
	<if test="typeName != null and typeName  != '' "> and type_label like '%${typeName}%' </if>
	order by type_sort desc,id desc 
	<if test="limit != null and limit  != '' ">
		limit ${start},${limit}
	</if>
  </select>
  
   <select id="selectCount" parameterType="hashmap" resultType="java.lang.Integer">
  	select count(*) from bus_book_list_type where 1=1 
  	<if test="sessionUser!=null and sessionUser.isAdmin != '1'.toString()">
  		and FIND_IN_SET(create_user_id,getChildrenUser(${sessionUser.userId}))
  	</if>
	<if test="typeName != null and typeName  != '' "> and type_label like '%${typeName}%' </if>
  </select>
  
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, type_name,wb_title, wb_img,type_label,type_img, type_des, status,(select GROUP_CONCAT(label_id) from bus_book_list_label_id where type_id=#{id}) labelIds,create_date, create_user_id, create_user_name,type_sort 
    from bus_book_list_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <insert id="insert" parameterType="com.winnerbook.book.dto.BookListType" useGeneratedKeys="true" keyProperty="id">
    insert into bus_book_list_type (type_name,wb_title, wb_img,type_label, type_img,
      status, type_des,create_date, 
      create_user_id, create_user_name,type_sort
      )
    values (#{typeName,jdbcType=VARCHAR}, #{wbTitle,jdbcType=VARCHAR}, #{wbImg,jdbcType=VARCHAR},#{typeLabel,jdbcType=VARCHAR}, #{typeImg,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR},#{typeDes,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=INTEGER}, #{createUserName,jdbcType=VARCHAR},#{typeSort,jdbcType=INTEGER}
      )
  </insert>
  
  <update id="update" parameterType="com.winnerbook.book.dto.BookListType" >
    update bus_book_list_type
    set type_name = #{typeName,jdbcType=VARCHAR},
      wb_title = #{wbTitle,jdbcType=VARCHAR},
      wb_img = #{wbImg,jdbcType=VARCHAR},
      type_label = #{typeLabel,jdbcType=VARCHAR},
      type_img = #{typeImg,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      type_des = #{typeDes,jdbcType=VARCHAR},
      type_sort = #{typeSort,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 批量放入值 -->
  <insert id="insertBathBookListTypeId" parameterType="list">
  	insert into bus_book_list_type_id(type_id,book_list_id,create_date) values
  	<foreach collection="list" item="item" separator=",">
  		(#{item.typeId},#{item.bookListId},#{item.createDate})
  	</foreach>
  </insert>
  
  <insert id="insertBookListLabelId" parameterType="list">
  	insert into bus_book_list_label_id(type_id,label_id,create_date) values
  	<foreach collection="list" item="item" separator=",">
  		(#{item.typeId},#{item.labelId},#{item.createDate})
  	</foreach>
  </insert>
  
  <!-- 根据id查询书籍 -->
  <select id="getBookListByTypeId" parameterType="hashmap" resultType="hashmap">
  	select book_id bookId,book_name bookName from bus_book_list where book_id in (select book_list_id from bus_book_list_type_id blt where type_id=#{typeId} order by id asc)
  </select>
  
  <!-- 删除书籍表 -->
  <select id="deleteBookListByTypeId" parameterType="java.lang.Integer">
  	delete from bus_book_list_type_id where type_id=#{typeId}
  </select>
  <!-- 删除标签表 -->
  <delete id="deleteLabelByTypeId" parameterType="java.lang.Integer">
  	delete from bus_book_list_label_id where type_id=#{typeId}
  </delete>  
  
  <!-- 查询该企业下是否有此书籍，如果没有则添加 -->
  <select id="getBookNameByUserId" parameterType="hashmap" resultType="java.lang.Integer">
  	select count(*) from bus_book_list_user_id where FIND_IN_SET(user_id,getChildrenUser(${sessionUser.userId})) and book_name=#{bookName}
  </select>
  
  <!-- web -->
  <!-- 根据标签查询书单列表 -->
  <select id="getBookListTypes" parameterType="hashmap" resultType="hashmap">
  	select id typeId,type_name typeName,type_img typeImg,wb_title wbTitle from bus_book_list_type where id in (select type_id from bus_book_list_label_id where label_id=#{labelId}) and status=1
  	order by type_sort desc,id desc
  	<if test="start != null "> limit ${start},${limit} </if>
  </select>
  <!-- 共多少条数 -->
  <select id="getBookListTypesCount" parameterType="hashmap" resultType="java.lang.Integer">
  	select count(1) from bus_book_list_type where id in (select type_id from bus_book_list_label_id where label_id=#{labelId}) and status=1
  </select>
  
  <!-- 查询企业书单 -->
  <select id="getBusBookListTypes" parameterType="hashmap" resultType="hashmap">
  	select id typeId,type_name typeName,type_img typeImg,wb_title wbTitle from bus_book_list_type where status=1 and create_user_id=#{busId}
  	order by type_sort desc,id desc
  	<if test="start != null "> limit ${start},${limit} </if>
  </select>
  <!-- 共多少条数 -->
  <select id="getBusBookListTypesCount" parameterType="hashmap" resultType="java.lang.Integer">
  	select count(1) from bus_book_list_type where status=1 and create_user_id=#{busId}
  </select>
  
  
  
</mapper>