<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.winnerbook.activity.dto.Feedback" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
  </resultMap>
  
   <!-- 手机端查看列表 -->
  <select id="getFeedbackts" parameterType="hashmap" resultType="hashmap">
  	select id feedbackId, user_id userId, remarks, status, DATE_FORMAT(create_date,'%m-%d %H:%i:%s')  createDate, create_user_id createUserId, create_user_name createUserName
  	from bus_feedback where status=1
  	<if test="userId != null and userId  != '' "> and user_id = #{userId}</if>
  	order by create_date desc
    <if test="start != null "> limit ${start},${limit} </if>
  </select>
   <select id="getFeedbacktsCount" parameterType="hashmap" resultType="java.lang.Integer">
  	select count(*)
  	from bus_feedback
  	where status=1
  	<if test="userId != null and userId  != '' "> and user_id = #{userId}</if>
  </select>
  
  <insert id="insert" parameterType="com.winnerbook.activity.dto.Feedback" >
    insert into bus_feedback (user_id, remarks, 
      status, create_date, create_user_id, 
      create_user_name)
    values (#{userId,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{createUserName,jdbcType=VARCHAR})
  </insert>
 
</mapper>